body {
  background-color: #DEB887;
  background-image: url("https://cdn.glitch.com/e420646a-22a1-40c1-bea8-b333fe7291ad%2FUntitled_Artwork%2012.png?v=1632775212000");
  background-repeat: no-repeat;
  background-size: 100% 115%;
  color: #8B4513;
  font-family: "Indie Flower", sans-serif;
}

.title {
  font-size: xxx-large;
  color: #8B4513;
  margin: 0px;
}
.header-description {
  margin: 0px;
}

.menu {
  background: #FFE4B5;
  border-radius: 100px;
  opacity: 0.7;
  width: 50%;
  position: relative;
  margin: auto;
  text-align: center;
}
.title-container1 {
  padding: 15px;
  margin: auto;
  text-align: center;
  width: 100%;
  color: #8B4513;
  background: #FFE4B5;
  border-radius: 100px;
  opacity: 0.7;
  height: 50%;
}
.text {
  background: #FFE4B5;
  border-radius: 100px;
  opacity: 0.7;
  width: 50%;
  position: relative;
  margin: auto;
  text-align: center;
}
.Volume_slider {
  background: #FFE4B5;
  border-radius: 100px;
  opacity: 0.7;
  width: 50%;
  position: relative;
  margin: auto;
  text-align: center;
}

.image_container_1 {
  position: relative;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 300px;
}

.iframe-container iframe {
  position: relative;
  margin: auto;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

#player {
  width: 350px;
  height: 50px;
  position: relative;
  margin: 0 auto;
  top: 80px;

  i {
    position: absolute;
    margin-top: -6px;
    color: #666;
  }

  i.fa-volume-down {
    margin-left: -8px;
  }

  i.fa-volume-up {
    margin-right: -8px;
    right: 0;
  }
}

#volume {
  position: absolute;
  left: 24px;
  margin: 0 auto;
  height: 5px;
  width: 300px;
  background: #555;
  border-radius: 15px;

  .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
  }

  .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
  }
}
